
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background: linear-gradient(rgb(69, 64, 111), rgb(0, 0, 0));
    color: #ffffff;
    min-height: 100vh;
    padding: 10px;
}


header h1 {
    font-size: 2.5rem;
    margin: 20px;
    color: #ffffff;
    text-align: center;
    margin-top: 50px;
}


.images {
    display: flex;
    justify-content: center; 
    gap: 200px; 
    margin-bottom: 50px;
    margin-top: 100px;
    
    
}

.images img {
    height: 220px;
    width: 220px;
    transition: transform 0.3s ease;
    object-fit: contain;
}




.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    font-size: 1.2rem;
    gap: 30px;
}

.scoreboard span {
    font-weight: bold;
    color: #ffa502;
}


.controls {
    display: flex;
    justify-content: center;
    gap: 60px; 
    flex-wrap: wrap;
    margin-top: 100px;
}

.controls button {
    font-size: 2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background: #70a1ff;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.controls button:hover {
    background: #1e90ff;
    transform: scale(1.1);
}

.controls button:active {
    background: #3742fa;
    transform: scale(1.05);
}

@media (max-width: 600px) {
    header h1 {
        font-size: 1.8rem;
    }

    .images {
        gap: 20px; 
    }

    .images img {
        width: 100px;
        height: 100px;
    }

    .scoreboard {
        font-size: 1rem;
        gap: 10px;
    }

    .controls {
        gap: 20px;
    }

    .controls button {
        font-size: 0.9rem;
        padding: 8px 12px;
    }
}


@media (max-width: 1024px) {
    header h1 {
        font-size: 2rem;
    }

    .images {
        gap: 30px;
    }

    .images img {
        width: 150px;
        height: 150px;
    }

    .controls {
        gap: 30px;
    }

    .controls button {
        font-size: 1rem;
        padding: 10px 15px;
    }
}

@keyframes motioncomp {
    0% { transform: rotate(-30deg); }
    25% { transform: rotate(30deg); }
    50% { transform: rotate(-30deg); }
    75% { transform: rotate(30deg); }
    100% { transform:rotate(0deg); }
}
@keyframes motionplayer {
    0% { transform: rotate(30deg); }
    25% { transform: rotate(-30deg); }
    50% { transform: rotate(30deg); }
    75% { transform: rotate(-30deg); }
    100% { transform:rotate(0deg); }
}
.motioncomp{
    animation: motioncomp 0.5s linear;
}
.motionplayer{
    animation: motionplayer 0.5s linear;
}




